{% extends 'adminpanel/base.html' %}

{% load static %}

{% block content %}
{% include 'adminpanel/includes/navbar.html' %}
<!-- Begin Page Content -->
<div class="container-fluid">

   <!-- Page Heading -->
   <h1 class="h3 mb-2 text-gray-800">Order Table</h1>
   <p class="mb-4">Orders and its details</p>
   
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Order Product -lists</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>

                    <tr>
                        <th>Order ID</th>
                        <th>User E-mail</th>
                        <th>Phone No</th>
                        <th>Order Total</th>
                        <th>Date</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Order ID</th>
                        <th>User E-mail</th>
                        <th>Phone No</th>
                        <th>Order Total</th>
                        <th>Date</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </tfoot>

                <tbody>

                    {% if orders %}
                        {% for order in orders %}
                            <tr>
                                <td>{{order.order_number}}</td>
                                <td>{{order.email}}</td>
                                <td>{{order.phone}}</td>
                                <td>${{order.order_total}}</td>
                                <td>{{order.created_at}}</td>
                                <td>{{order.address_line_1}}</td>
                                <td class="text-center">
                                    <a href="{% url 'order_accepted' order.id %}" class="btn btn-warning">Accept order</a>
                                    <a href="{% url 'order_cancelled' order.id %}" class="btn btn-danger">Cancel order</a>

                                </td>

                            </tr>
                        {% endfor %}
                    {% endif %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
</div>
<!-- /.main end -->


{% endblock content %}