{% extends 'accounts/main.html' %} 
{% load static %}

{% block content %}
 {% include 'accounts/header.html'%}
 
 <div class="container">
	<div class="row text-dark">
    {% include 'accounts/dashboard/dashboard_slider.html'%}
    <main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Edit Profile </strong>
		</header>
		<div class="card-body">
            
			<div class="row"> 

                <div class="col-md-12">
                    <div>
                        {% include 'accounts/alerts.html' %}
                    </div>
                    <form action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group ">
                            <label>Current Password</label>
                            <input type="password" name="current_password" placeholder="Current Password" class="form-control" required>
                        </div>
                        <div class="form-group ">
                            <label>Create New Password</label>
                            <input type="password" name="new_password" placeholder="Create New Password" class="form-control" required>
                        </div>
                        <div class="form-group ">
                            <label>Conform New Password</label>
                            <input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" required>
                        </div>
                    

                        <input class="btn-primary" type="submit" value="Save">

                    </form>

                </div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= FOOTER ========================= -->

<!-- ========================= FOOTER END // ========================= -->



<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></body>
</html>
{% endblock %} 