{% extends 'accounts/main.html' %} 
{% load static %}

{% block content %}
 {% include 'accounts/header.html'%}
  <main>
      

      <section class="cart_area section_padding " style="padding: 0px;">
        <div class="container">
          {% if not cart_items %}
          <h2>Your Shopping Cart is Empty</h2>
          <a href="{% url 'shop' %}" class="btn btn-primary">Continue Shopping</a>
          {% else %}
          <div class="cart_inner">
            <div class="table-responsive-sm">
              <table class="table ">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th> 
                    <th></th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for cart_item in cart_items %}
                  <tr>
                    <td>
                      <img style="width: 10em;height: 8em;" src="{{ cart_item.product.images.url }}" alt="" />
                    </td>
                    <td>
                      <div class="media-body">
                          <a href="{{ cart_item.product.get_url }}" class="text-dark">{{ cart_item.product.product_name}}</a>
                          <p class="text-muted small">
                            {% if cart_item.variations.all %}
                              {% for item in cart_item.variations.all %}
                                 
                            {{ item.variation_category | capfirst }}: {{ item.variation_value | capfirst }} <br>
                               {% endfor %}
                              
                            {% endif %}   
                          </p>
                      </div>  
                    </td>
                    <td>
                      <h5>₹{{ cart_item.product.price}}</h5>
                    </td>
  
                    <td>
                      <div class="text-center  m-2  " style="display: flex;">
                        <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}"><button class="btn-secondary edit_quantity">
                          <i class="fs-12 fa fa-minus" aria-hidden="true" ></i></a>
                        </button>
                        <!--<span style="width: 25px;" id=""></span> -->
                        <input id="form1" style="width: 25px;" min="0" name="quantity" value="{{ cart_item.quantity }}" >
                        <form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
                         {% csrf_token %}
                         {% for item in cart_item.variations.all %}
                         <input class="order_quantity" type="hidden" name="{{ item.variation_category | lower}}" value="{{ item.variation_value | capfirst}}">
                         {% endfor %}
                          <button class="btn-secondary edit_quantity" type="submit" class="btn-secondary">
                           <i class="fs-12 fa fa-plus" aria-hidden="true"></i>
                          </button>
                        </form>
                      </div>
                    </td>
                     <td>
                      <h5 >₹{{cart_item.sub_total}}</h5>
                    </td> 
                    <td> 
                      <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}"><button onclick="return confirm('Delete {{cart_item.product.product_name}} are you sure?')" type="button" class=" btn_1 btn-danger"  style="color: #fff; background-color: #dc3545; border-color: #dc3545; padding: 10px 25px" >Remove</button>
                         
                    </td>
                    
                    
                  </tr>
                  {% endfor %}
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <table>
                        <tr>
                          <td>Total</td>
                          <td>{{total}}</td>
                        </tr>
                        <tr>
                          <td>Tax</td>
                          <td>{{tax}}</td>
                        </tr>
                        <tr>
                          <td>Grand Total</td>
                          <td>{{grand_total}}</td>
                        </tr>
                      </table>
                      



                    </td>
                    <td></td>
                  </tr>
                  
  
                   
                  
                  
                </tbody>
              </table>
            </div>  
              
            <div class="checkout_btn_inner float-right">
              <a class="btn_1" href="{% url 'shop' %}">Continue Shopping</a>
              <a class="btn_1 checkout_btn_1" href="{% url 'checkout' %}">Proceed to checkout</a>
            </div>
            
            
          </div>
        </div>  
      </section>
      {% endif %}

      
  </main>
  <footer>
      <!-- Footer Start-->
      <div class="footer-area footer-padding">
          <div class="container">
              <div class="row d-flex justify-content-between">
                  <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                      <div class="single-footer-caption mb-50">
                          <div class="single-footer-caption mb-30">
                              <!-- logo -->
                              <div class="footer-logo">
                                  <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                              </div>
                              <div class="footer-tittle">
                                  <div class="footer-pera">
                                      <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>Quick Links</h4>
                              <ul>
                                  <li><a href="#">About</a></li>
                                  <li><a href="#"> Offers & Discounts</a></li>
                                  <li><a href="#"> Get Coupon</a></li>
                                  <li><a href="#">  Contact Us</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>New Products</h4>
                              <ul>
                                  <li><a href="#">Woman Cloth</a></li>
                                  <li><a href="#">Fashion Accessories</a></li>
                                  <li><a href="#"> Man Accessories</a></li>
                                  <li><a href="#"> Rubber made Toys</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>Support</h4>
                              <ul>
                                  <li><a href="#">Frequently Asked Questions</a></li>
                                  <li><a href="#">Terms & Conditions</a></li>
                                  <li><a href="#">Privacy Policy</a></li>
                                  <li><a href="#">Report a Payment Issue</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Footer bottom -->
              <div class="row align-items-center">
                  <div class="col-xl-7 col-lg-8 col-md-7">
                      <div class="footer-copy-right">
                          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>                 
                      </div>
                  </div>
                  <div class="col-xl-5 col-lg-4 col-md-5">
                      <div class="footer-copy-right f-right">
                          <!-- social -->
                          <div class="footer-social">
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                              <a href="#"><i class="fab fa-behance"></i></a>
                              <a href="#"><i class="fas fa-globe"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End-->
  </footer>
  <!--? Search model Begin -->
  <div class="search-model-box">
      <div class="h-100 d-flex align-items-center justify-content-center">
          <div class="search-close-btn">+</div>
          <form class="search-model-form">
              <input type="text" id="search-input" placeholder="Searching key.....">
          </form>
      </div>
  </div>
  <!-- Search model end -->

  {% endblock %}





  