{% extends 'accounts/main.html' %} 
{% load static %}
{% block content %}
 {% include 'accounts/header.html'%}
    
    <main>
         
        <!--================login_part Area =================-->
        <section class="login_part  ">
            <div class="container">
                <div ></div>
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_text text-center">
                            <div class="login_part_text_iner">
                                <h2>New to our Shop?</h2>
                                <p>There are advances being made in science and technology
                                    everyday, and a good example of this is the</p>
                                <a href="{% url 'login' %}" class="btn_3">login </a>
                            </div>
                        </div>
                    </div>
                     
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <h3>Welcome Back ! <br>
                                     Sign Up</h3>
                                    {% include 'accounts/alerts.html' %}
                                <form class="row contact_form" action="{% url 'signup' %}" method="POST" novalidate="novalidate">
                                    {% csrf_token %}
                                    <div class="col-md-12 form-group p_star">
                                        {{ form.first_name }}
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        {{ form.last_name }}
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        {{ form.email }}
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        {{ form.phone_number }}
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        {{ form.password }}
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        {{ form.confirm_password }}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <div class="creat_account d-flex align-items-center">
                                            <input type="checkbox" id="f-option" name="selector">
                                            <label for="f-option">Remember me</label>
                                        </div>
                                        <button type="submit" value="submit" class="btn_3">
                                            register
                                        </button>
                                        <a class="lost_pass" href="#">forget password?</a>

                                        {{ form.email.errors }}
                                        {{ form.non_field_errors }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================login_part end =================-->
    </main>
    <footer>
      {% include 'accounts/footer.html'%}
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    
    {% endblock %}