{% extends 'adminpanel/base.html' %}

{% load static %}

{% block content %}
{% load static %}
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form
        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group"> 
            <form action="{% url 'search' %}" class="search" method="GET"></form>

            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2" name="keywords">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
            <form>
        </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                            placeholder="Search for..." aria-label="Search"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        
       

       
        

    </ul>

</nav>
<div class="container-fluid d-flex justify-content-end p-3">
    <div class="col-lg-4   col-sm-12 col">
        <form action="{% url 'productsearch' %}" class="search" method="GET">
            <div class="input-group w-100">
                <input type="text" class="form-control" style="width:60%;border-radius: 10px;" placeholder="Search" name="keyword">
                
                <div class="input-group-append">
                  <button class=" btn-dark" type="submit" style="border-radius: 10px;">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
            </div>
        </form> <!-- search-wrap .end// -->
    </div> <!-- col.// -->
</div>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Store Products Table</h1>
    <p class="mb-4">Store details</p>

   
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Order Product -list</h6>
        {% if 'search' in request.path %}
                            <h4>Search Results</h4>
                            <p>{{ product_count}} items found </p>
                            {% else %}
                            <p>{{ product_count}} items found </p>
                            {% endif %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>

                    <tr>
                        <th>Product name</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Image</th>
                        
                        <th>Modified Date </th>
                        <th>Is Available</th>
                        
                        <th class="text-center"><a href="{% url 'add_product' %}" class="btn btn-dark">Add New </a></th>
                        
                    </tr>
                </thead>

                <tbody>

                    {% if products %}
                        {% for product in products %}
                            <tr>
                                <td>{{product.product_name}}</td>
                                
                                <td>$ {{product.price}}</td>
                                <td>{{product.stock}}</td>
                                <td><img style="width: 10em;height: 8em;" src="{{ product.images.url }}" alt="" /></td>
                                <td>{{product.modified_date}}</td>
                                <td>{{product.is_available}}</td>
                                <td class="text-center">
                                   
                                    <a href="{% url 'edit_product' product.id %}" class="btn btn-success" onclick="return confirm('Do you want Edit {{product.product_name}} ! ,are you sure?')">Edit</a> 
                                   
                                    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger" onclick="return confirm('Do you want Delete {{product.product_name}} ! ,are you sure?')">Delete </a> 
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
</div>
<!-- /.main end -->


{% endblock content %}