{% extends 'accounts/main.html' %} 
{% load static %}

{% block content %}
 {% include 'accounts/header.html'%}
    
    <main>
        <!-- Hero Area Start-->
        <div class="container mt-5 mb-5">
            <div class="row d-flex ">
                <div class="col-md-10">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="images p-3">
                                    <div class="text-center "> <img id="main-image" src="{{ single_product.images.url }}" width="350" /> </div>
                                    <div class="thumbnail text-center p-1 ">
                                         {% for i in product_gallery %}
                                         
                                        <img class="border" onclick="change_image(this)" src="{{ i.image.url}}" width="70">  
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form action="{% url 'add_cart' single_product.id %}" method="POST">
                                    {% csrf_token %}
                                    
                                <div class="product p-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">Back</span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                                        </div>
                                    <div class="mt-4 mb-3"> <!--<span class="text-uppercase text-muted brand">Orianz</span>-->
                                        <h5 class="text-uppercase">{{ single_product.product_name }}</h5>
                                        <div class="rating-star">
                                            <span>
                                                <i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                                                <i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                                                <i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                                                <i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                                                <i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                                                <span>({{ single_product.countReview }} reviews)</span>
                                            </span>
                                        </div>
                                        <div class="price d-flex flex-row align-items-center"> <span class="act-price border">₹{{ single_product.discount|floatformat:2}}</span>
                                            <div class="ml-2"> <small class="dis-price" style="text-decoration: line-through;">₹{{ single_product.price }}</small> <span class="border">{{ single_product.discount_percent }}% OFF</span> </div>
                                        </div>
                                    </div>
                                    <p class="about">{{   single_product.description }}</p>
                                    {% comment %}
                                    <div class="mt-4 mb-3">
                                        <p>choose color</p>
                                        <select name="color" class="form-control" required>
                                            <option value="" disabled selected>Choose Color</option>
                                            {% for i in single_product.variation_set.colors %}
                                            <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                       
                                    </div>
                                    
                                    
                                    <div class="">
                                        <p>choose storage</p>
                                        <select  name="storage" class="" required>
                                            <option value="" disabled selected>Choose Storage</option>
                                            {% for i in single_product.variation_set.storages %}
                                              <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% endcomment %}
                                    
                                    <div class="row mt-4 mb-3 mx-1">
                                        <div class="item-option-select">
                                            <h6>Choose Color</h6>
                                              <select name="color" class="form-control">
                                                <option value="" disabled selected>Select color</option>
                                                {% for i in single_product.variation_set.colors %}
                                                <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                                {% endfor %}
                                              </select>
                
                                        </div>
                                    </div> <!-- row.// -->
                
                                    <hr>
                                    <div class="">
                                        {% if single_product.stock <= 0 %} 
                                        <h5 class='text-danger'>out of stock</h5> 
                                        {% else%}
                                        <button type="submit" class="btn btn-danger text-uppercase mr-2 px-4">Add to cart</button> <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> 
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  p-3">
                    

                    
                    <form action="{% url 'submit_review' single_product.id %}" method="POST">
                        {% csrf_token %}
                        <h4>write your Review</h4>
                       
            
                        <div>
            
                            <label for="">How do you rate this prodcut?</label>
                            <br>
                            <div class="rate">
                                <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
                                <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
                                <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
                                <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
                                <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
                                <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
                                <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
                                <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
                                <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
                                <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
                            </div>
            
                            <br>
            
            
                            Review Title:
                            <input type="text" class="form-control" name="subject">
                            <br>
                            Review:
                            <textarea name="review" rows="4" class="form-control"></textarea>
                            <br>
                            {% if user.is_authenticated %}
                                {% if orderproduct %}
                                    <input type="submit" value="Submit Review" class="btn btn-primary">
                                {% else %}
                                    <p>Purchase the product to post review </p>
                                {% endif %}
                            {% else %}
                            <p>Login to post reviews! <span><a class="text-info" href="{% url 'login' %}">Login</a></span> </p>
                            {% endif %}
                            <br>
                        </div>
                       
                    </form>
            
                    <header class="section-heading">
                        <h3>Customer Reviews </h3> <span>Average Review</span> 

                        <div class="rating-star">
                            <span>
                                <i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                                <span>({{ single_product.countReview }} reviews)</span>
                            </span>
                        </div>
                        
                    </header>
            
            
                {% for review in reviews %}
                    <article class="box mb-3 border bg-light p-2">
                        <div class="icontext w-100 ">
                           
                            <img src="" class="img-xs icon " width="50" height="50" style="border-radius:50%">
                           
                            <img  class="img-xs icon " width="50" height="50" style="border-radius:50%">
                           
                            <div class="text">
                                <span class="date text-muted float-md-right">{{review.updated_at}}</span>  
                                <h6 class="mb-1">{{ review.user.full_name }}</h6>
                                
                            </div>
                        </div> <!-- icontext.// -->
                        <div class="mt-3 ">
                            <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                                </span>
                            </div>
                            <h6>{{ review.subject }}</h6>
                            <p>
                                {{ review.review }}
                            </p>	
                        </div>
                    </article>
                {% endfor %}
                
                    
                
                </div> <!-- col.// -->

            </div>
        </div>
    </main>
     
    <br>
    
    <div class="row d-flex justify-content-center container mt-5 mb-5">
                
    </div> <!-- row.// -->
    
                                        <!--<h6 class="text-uppercase">Size</h6> <label class="radio"> <input type="radio" name="size" value="S" checked> <span>S</span> </label> <label class="radio"> <input type="radio" name="size" value="M"> <span>M</span> </label> <label class="radio"> <input type="radio" name="size" value="L"> <span>L</span> </label> <label class="radio"> <input type="radio" name="size" value="XL"> <span>XL</span> </label> <label class="radio"> <input type="radio" name="size" value="XXL"> <span>XXL</span> </label>-->
                                    <!-- <div class="mt-4 mb-3">
                                        
                                        
                                        
                                    </div>
                                
                                    </div>
                                
                                    <div class="cart mt-4 align-items-center">
                                        
                                    </div>
                                    
                            
                                    
                                     
                                    {% endif %}  
                                </form>
                                </div>
                                
                            </div>
                        </div>
                    <div>

                       
                </div>
            </div>
        </div> -->
        <!-- subscribe part end -->
        

    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#"> Offers & Discounts</a></li>
                                    <li><a href="#"> Get Coupon</a></li>
                                    <li><a href="#">  Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>New Products</h4>
                                <ul>
                                    <li><a href="#">Woman Cloth</a></li>
                                    <li><a href="#">Fashion Accessories</a></li>
                                    <li><a href="#"> Man Accessories</a></li>
                                    <li><a href="#"> Rubber made Toys</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Frequently Asked Questions</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Report a Payment Issue</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>                   
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <script>
        function change_image(image){

    var container = document.getElementById("main-image");

    container.src = image.src;
    }



    document.addEventListener("DOMContentLoaded", function(event) {







    });
    </script>
    {% endblock %}

   